body{
    background-image: url("resim2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    
}
.form{
    
    border-radius: 10%;
    text-align: center;
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    padding: 20px;
    box-sizing: border-box;
    border-style:ridge;
    box-shadow: inset;
    padding:5%;
    box-shadow: 14px 14px 20px #6092c5, -14px -14px 20px #6092c5;
    
}
h1{
    text-align: center;
    margin-top: 10%;
    font-family:Copperplate, Papyrus, fantasy ;
    color: #437bec;
}
.a{
    margin-right: 5%;
}
